<div class="row">
  <div class="col-lg-12">
    
    <div class="row">
      <h1 class="col-lg-10 col-lg-offset-1">
        Projects List
        <a class="btn btn-success pull-right" href="/projects/new" title="">Add new Project</a>
      </h1>
      <div class="col-lg-10 col-lg-offset-1">
        <table class="table left">
          <h3>
            Project Features
          </h3>
          <thead>
            <tr>
              <th colspan="3" class="col-lg-3">Project name</th>
              <th colspan="3" class="col-lg-3">Lenguaje</th>
              <th colspan="3" class="col-lg-1">Status</th>
              <th colspan="3" class="col-lg-2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in projectList track by $index">
              <td colspan="3" class="col-lg-3">{{project.name}}</td>
              <td colspan="3" class="col-lg-3">
                <div ng-repeat="language in project.languages track by $index">
                  {{language.language}}
                </div>              
              </td>
              <td colspan="3" class="col-lg-1">
                <div class="circle redcircle">
                </div>
              </td>
              <td colspan="3" class="col-lg-2">
                <a href="#" title="" class="btn btn-default btn-black"><i class="white fa fa-eye"></i></a>
                <a href="#" title="" class="btn btn-default btn-black"><i class="white fa fa-refresh"></i></a>
                <a href="#" title="" class="btn btn-default btn-black"><i class="white fa fa-github"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
