<h1>Add new Project</h1>
<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Name:</label>
  <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="projectName" placeholder="Project name">
  </div>
  <div>
    <p>language selected: <span ng-show="languageSelected.language">{{languageSelected.language}}</span><span ng-show="!languageSelected.language">None</span></p>
  </div>
  <select ng-options="language as language.language for language in languages track by language.id" ng-model="languageSelected"></select>

  <button class="btn btn-info" ng-click="clickAddProject()">Add Project</button>
</div>